{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
<style>

</style>
    <h1 class="">Neue Kategorie einfügen</h1>
<div class="w-25">
            {% include '/Form/category.html.twig' %}
        </div>

</div>



{% endblock %}
